#OS junk files
*.DS_Store

#notebook checkpoints
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
env/
venv/
*.env

# Conda
*.conda
*.condarc

# Editors and IDEs
.vscode/
.idea/

# Testing
.pytest_cache/
.coverage