setuptools==65.5.0
wheel<0.40.0
gym==0.21.0
stable-baselines3==1.8.0
CityLearn==2.1.2
ipywidgets
matplotlib
seaborn
shimmy
requests
beautifulsoup4
torch==1.10.0+cpu
torchvision==0.11.1+cpu
torchaudio==0.10.0
numpy
pandas
tqdm
pyyaml
